@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  .mantine-Card-root {
    background-color: red;
  }
}
