@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .scroll-hidden::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(22, 22, 22, 0.7);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5fafc896;
    border-radius: 8px;
  }
  .mantine-Card-root {
    background-color: red;
  }
}
