.controls {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: fit-content;
  justify-self: end;
  align-self: flex-end;
  height: fit-content;
  gap: 10px;

  .control {
    background: rgba(188, 103, 103, 0.2);
    color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    font-weight: bold;
    font-size: larger;

    &[data-inactive] {
      opacity: 0;
      cursor: default;
    }
  }
}
